body {
    background-color: #1c1b1b;
    color: aliceblue;
    font-family: 'consolas';
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
    background-color: white;
    padding: 0.5rem;
    text-decoration: none;
    width: 20rem;
    text-align: center;
    border-radius: 8px;
}